<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ElecData" type="yjp.wdb.domain.ElecData" />
		<typeAlias alias="Login" type="yjp.wdb.domain.Login" />
		<typeAlias alias="BoardVO" type="yjp.wdb.domain.BoardVO" />
		<typeAlias alias="Login" type="yjp.wdb.domain.Login" />
		<typeAlias alias="Register" type="yjp.wdb.domain.Register" />
		<typeAlias alias="Building" type="yjp.wdb.domain.Building" />
		<typeAlias alias="Groups" type="yjp.wdb.domain.Groups" />
		<typeAlias alias="Datas" type="yjp.wdb.domain.Datas" />
		
	</typeAliases>
</configuration>